
{% extends 'user_accounts/base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}
{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
  <p><a href="{% url 'logout' %}">LogOut</a></p>

    {% for file in files %}
    <p><a href="">{{ file.name }}</a></p>
    {% endfor %}

{% else %}

  <p><a href="{% url 'login' %}">Login</a></p>
  <p><a href="{% url 'register' %}">Register</a></p>
{% endif %}
{% endblock %}
